.category-text-field {
  width: 300px;
}

/* .category-modal {
  width: 400px;
  display: flex;
  justify-content: center;
} */

.card-main {
  .category {
    background-color: #76024b05 !important;
    text-decoration: none !important;
  }

  .category:hover {
    border: 2px solid #76024b47;
  }

  .score-preview-button {
    background-color: #76024b66 !important;
    border: 1px solid #76024b47 !important;
    font-size: 15px;
  }

  .start-button {
    background-color: #73155fbd !important;
    border: 1px solid #73155fbd !important;
  }

  .text-card {
    color: #76024b !important;
  }

  .button-action {
    margin-right: 15px;
  }
}

.add-new-category-main {
  height: 5rem;
  width: 10rem;
  background-color: #76024b66 !important;
}

.quiz-category-header {
  color: #76024b;
}

.add-category-plus {
  height: 4rem;
  width: 8rem;
}
