.field-text-box {
  width: 350px;
  border: 2px solid #76024b47 !important;
  background-color: #76024b05 !important;
}

.field-label {
  color: #76024b;
  font-weight: bold;
  font-size: 15px;
}

.header-text {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #76024b;
  font-family: serif;
}

.submit-btn {
  display: flex;
  justify-content: center;
  background-color: #76024b !important;
}
